@charset "utf-8";
/*----- 再利用可能なスタイルを定義する -----*/

/* レスポンシブ */
$breakpoints: (
    sm: 520px,
    md: 767px,
    lg: 960px,
    xl: 1024px
);
@mixin mq($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {    // pcファーストならmax-width, スマホファーストならmin-width
            @content;
        }
    } @else {
        @warn "Unknown breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}.";
    }
}
// 使用例
// @include mq(sm) {
//     background-color: red;
// }