@charset "utf-8";

@use "settings" as *;
@use "mixins" as *;
/*----- 共通で使うアニメーションや部分装飾などに使うスタイルを定義する -----*/

/* 部分装飾　接頭辞 c- をつける */
.c-m-0 {
  margin: 0;
}
.c-mt-50 {
  margin-top: 50px;
}
.c-mt-100 {
  margin-top: 100px;
}
.c-mb-10 {
  margin-bottom: 10px;
}
.c-mb-30 {
  margin-bottom: 30px;
}
.c-mb-50 {
  margin-bottom: 50px;
}

.c-move-top-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 180px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background-color: $color-lightgray;
  color: $color-main;
  border-radius: 100vh;
  position: relative;
  transition: 0.5s;
}


.c-btn {

}
.c-btn:hover {
  cursor: pointer;
  filter: brightness(0.7);
}


.c-cursor-text {
  cursor: text;
}


/* アニメーション */


/* Google reCAPTCHA */
.grecaptcha-badge {
  z-index: 9999;
}
/* ********** */

/* SweetAlert2 */
.swal2-popup.swal2-modal {
  width: 400px;

  @include mq(sm) {
    width: 90%;
  }
}
.swal2-title {
  font-size: 2.0rem;
}
.swal2-html-container {
  font-size: 1.6rem;
}
.swal2-confirm {
  background-color: $color-lightgray;
  color: $color-main;
  font-size: 1.4rem;
}
/* ********** */