@charset "utf-8";
/*----- 変数を定義する -----*/

/* サイトカラー */
$color-base: #00134d; // サイトの70%
$color-main: #7193ff;  // サイトの25%
$color-accent: #FFA500;  // サイトの5%


/* テキストカラー */
$color-text-black: #545454;
$color-text-white: #fff;

/* その他カラー */
$color-lightgray: #eee;
$color-alert-red: #ff7676;