@charset "utf-8";
/*----- 変数を定義する -----*/

/* サイトカラー */
$color-base: #e9e9e9; // サイトの70%
$color-main: #565656;  // サイトの25%
$color-accent-blue: #8cbce4;
$color-accent-pink: #ED749F;  // サイトの5%
$color-accent-green: #4FCFA0;  // サイトの5%
$color-accent-yellow: #E7E73D;  // サイトの5%


/* テキストカラー */
$color-text-black: #212836; // テキスト黒
$color-text-white: #fff;  // テキスト白


/* その他カラー */
$color-lightgray: #D3D3D3;
$color-darkgray: #A9A9A9;
$color-alert-red: #ff7676;