@charset "utf-8";
/*----- 変数を定義する -----*/

/* サイトカラー */
$color-base: #e9e9e9; // サイトの70%
$color-main: #565656;  // サイトの25%
$color-accent: #2489A8;  // サイトの5%

/* テキストカラー */
$color-text-black: #4F5F6F; // サイトの70%

/* サブカラー */
$color-light-gray: #F0F3F6;
$color-gray: #D7DDE4;
