@charset "utf-8";
/*----- 変数を定義する -----*/

/* サイトカラー */
$base-color: #00134d; // サイトの70%
$main-color: #6b427c;  // サイトの25%
$accent-color: #FFA500;  // サイトの5%


/* テキストカラー */
$text-color-white: #fff;
$text-color-black: #2d2d2d;